html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: silver; /* silver base background */
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
}

canvas {
    display: block;
}
